@mixin dimensions($height, $width) {
  height: $height;
  width: $width;
}
@mixin flexify($direction) {
  display: flex;
  flex-direction: $direction;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  @include dimensions(100vh, 100vw);
}
body,
#root {
  @include dimensions(100%, 100%);
}
.app {
  @include flexify(column);
  @include dimensions(100%, 100%);
  .upperdiv {
    @include flexify(row);

    background-color: #14213d;

    .editor {
      @include dimensions(70%, 100%);
      margin-right: 2px;
      margin-left: 2px;

      .editor-titelbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #0560bb;

        @include dimensions(10%, 100%);
        h4 {
          @include dimensions(80%, 10%);
          color: azure;
        }
      }
    }
  }
  .downdiv {
    flex: 1;

    div {
      @include dimensions(10%, 100%);
      background-color: #0560bb;
      text-align: center;
      box-shadow: -3px 5px 12px 0px rgba(0, 0, 0, 0.41);

      h3 {
        color: azure;
      }
    }
    iframe {
      @include dimensions(100%, 100%);
    }
  }
}
